.counter{
    display: flex;
    flex-direction:row;
}
.counter > button{
    height: 3rem;
    width: 3rem;
    background-color:rgb(154, 243, 236);
    border-radius: 50%;
    border-color: crimson;
}
.counter > p{
    margin: 0.6rem 1rem;
    font-size: 1.2rem;
}

